<% content_for :head do %>
  <script>
    $(function(){
      $("a.signforit").click(function(){
        var id = $(this).prev(":input[name='id']").val();
        var nowat = $(this)
        $.ajax("/goods/"+id+"/signforit", {
          type: "POST",
          statusCode: {
            401: function(result){
              window.location.href = result.responseText;
            }
          },
          success: function(result){
            nowat.removeClass("signforit").html(result).prev(":input[name='id']").remove();
          }
        });
      });
    });
  </script>
<% end %>
<div class="goods">
  <%= render @good %>
</div>
