<li>
  <span class="title"><%= link_to category.title, root_path(category: category.id) %>
  <% if signed_in? && current_user.admin? %>
   | <%= link_to "delete", category, method: :delete,
                                data: { confirm: "You sure?" } %>
  <% end %></span>
</li>
