<li>
  <span class="title"><%= category.title %>
  <% if signed_in? && current_user.admin? %>
   | <%= link_to "delete", category, method: :delete,
                                data: { confirm: "You sure?" } %>
  <% end %></span>
</li>
