<div class="row">
<div class="subheader">
  <div class="span7 offset3">
    <%= form_tag search_path, method: :get, class: "form-inline" do %>
      <div class="form-group">
        <%= text_field_tag :query, params[:query], class: "form-control span6 search-query", placeholder: "Search for goods" %>
      </div>
      <%= submit_tag "Search", class: "btn" %>
    <% end %>
  </div>
  <div class="span4 offset1">
    <a href="<%= new_good_path %>" class="btn btn-primary" type="button">Post Good</a>
  </div>
</div>
</div>
