<div class="row">
<div class="subheader">
  <div class="span7 offset3">
    <input type="text" placeholder="Search questions or answers" class="span6 search-query">
    <button class="btn">Search</button>
  </div>
  <div class="span4 offset1">
    <a href="<%= new_good_path %>" class="btn btn-primary" type="button">Post Good</a>
  </div>
</div>
</div>
